<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        caption {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            color: #6c757d;
            text-align: left;
            caption-side: top;
        }
    </style>
    <title></title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><span th:text="${#authentication.principal.toStringPrincipal()}"></span>
        </a>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a></li>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out"/>
                </form>
        </ul>
    </nav>
    <div class="pb-3">

    </div>
<div class="container-fluid">
    <div class="row">
            <div class="col-md-2">
                <nav class="nav flex-column" >
                    <a class="nav-link" th:href="@{/admin}" sec:authorize="hasRole('ROLE_ADMIN')">Admin</a>
                    <a class="btn btn-primary" href="#">User</a>
                </nav>
            </div>

        <div class="col-md-10">
            <h3>User information page</h3>
            <table class="table table-striped">
                <caption>
                    <div class="list-group">
                      <b style="color: black">About user</b>
                    </div>
                </caption>
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" th:utext="${#authentication.principal.id}">id</th>
                    <td th:utext="${#authentication.principal.name}">First name</td>
                    <td th:utext="${#authentication.principal.lastName}">Last name</td>
                    <td th:utext="${#authentication.principal.age}">Age</td>
                    <td th:utext="${#authentication.principal.mail}">Email</td>
                    <td th:utext="${#authentication.principal.toStringRole()}">Role</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>