






<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/static/js/main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        caption {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            color: #6c757d;
            text-align: left;
            caption-side: top;
        }
    </style>
    <title></title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><span th:text="${#authentication.principal.toStringPrincipal()}"></span>
    </a>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a></li>
        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Sign Out"/>
        </form>
    </ul>
</nav>
<div class="pb-3">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <nav class="nav flex-column">
                <button class="btn btn-primary" href="#">Admin</button>
                <a class="nav-link" th:href="@{/user}">User</a>
            </nav>
        </div>
        <div class="col-md-10">
            <h3>Admin panel</h3>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#description">User table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{/admin/addUser}" method="get">New user</a>
                </li>
            </ul>

            <table id="example" class="table table-striped">
                <caption>
                    <div class="list-group">
                        <a href="/admin" class="list-group-item list-group-item-action list-group-item-light"><b style="color: black">All users</b></a>
                    </div>
                </caption>
                <thead>

                    <th scope="col">id</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </thead>
                <tbody>
                <td>
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <p>Edit user</p>
                                        <button type="button" class="close" data-dismiss="modal">x</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="form-group align-content-center text-center">
                                                <label for="id" >Id</label>
                                                <input class="form-control card-form text-center" type="text" name="id"   id="id" readonly>
                                                <label for="name">First name</label>
                                                <input class="form-control alert-warning text-center" type="text" name="name"   id="name">
                                                <label  for="lastName">Last name</label>
                                                <input class="form-control alert-warning text-center" type="text" name="lastName"  id="lastName">
                                                <label for="age">Age</label>
                                                <input class="form-control text-center" type="text" name="age"  id="age">
                                                <label for="mail">Email</label>
                                                <input class="form-control alert-warning text-center" type="text" name="mail" id="mail">
                                                <label for="pass">Password</label>
                                                <input class="form-control text-center" type="text" name="pass" id="pass">
                                                <div class="pb-2">
                                                </div>
                                                <div class="form-group">
                                                    <select name="a" multiple size="2" class="form-control" >
                                                        <option value="ROLE_ADMIN">Admin</option>
                                                        <option value="ROLE_USER">User</option>
                                                    </select>
                                                </div>
                                                <div id="aaa" class="text-right">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button id="buttonEdit" onclick="buttonEdit()" class="btn btn-primary" >Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </td>
<!--                    <td>-->
<!--                        <button type="button" class="btn btn-danger btn-lg"-->
<!--                                data-toggle="modal" data-target="#myModal2"-->
<!--                                th:attrappend="data-target=${userlist.id}" >-->
<!--                            Delete </button>-->
<!--                        <div class="modal fade" id="myModal2" role="dialog" th:attrappend="id=${userlist.id}">-->
<!--                            <div class="modal-dialog">-->
<!--                                <div class="modal-content">-->
<!--                                    <div class="modal-header">-->
<!--                                        <p>Delete user</p>-->
<!--                                        <button type="button" class="close" data-dismiss="modal">x</button>-->
<!--                                    </div>-->
<!--                                    <div class="modal-body">-->
<!--                                        <div class="row justify-content-center align-items-center">-->
<!--                                            <form class="text-center" action="#" th:action="@{/admin/delete}" th:method="post">-->
<!--                                                <label for="delid">ID</label>-->
<!--                                                <input class="form-control card-form" type="text" name="id" th:value="${userlist.id}"  id="delid" readonly>-->
<!--                                                <label for="delname">First name</label>-->
<!--                                                <input class="form-control alert-warning" type="text" name="name" th:value="${userlist.name}"  id="delname" readonly>-->
<!--                                                <label for="dellastName">Last name</label>-->
<!--                                                <input class="form-control alert-warning" type="text" name="lastName" th:value="${userlist.lastName}"  id="dellastName" readonly>-->
<!--                                                <label for="delage">Age</label>-->
<!--                                                <input class="form-control" type="text" name="age" th:value="${userlist.age}"  id="delage" readonly>-->
<!--                                                <label for="delmail">Email</label>-->
<!--                                                <input class="form-control alert-warning" type="text" name="mail" th:value="${userlist.mail}"  id="delmail" readonly>-->
<!--                                                <label for="delpass">Password</label>-->
<!--                                                <input class="form-control" type="text" name="pass"  id="delpass" readonly>-->
<!--                                                <div class="pb-2">-->
<!--                                                </div>-->
<!--                                                <div class="form-group">-->
<!--                                                    <select  multiple size="2" class="form-control" disabled>-->
<!--                                                        <option value="ROLE_ADMIN">Admin</option>-->
<!--                                                        <option value="ROLE_USER">User</option>-->
<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                                <div class="text-right">-->
<!--                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                                                    <button type="submit" value="Delete" class="btn btn-danger">Delete</button>-->
<!--                                                </div>-->
<!--                                            </form>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </td>-->
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>













<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!--    <script src="/static/js/main.js"></script>-->
<!--    <style>-->
<!--        caption {-->
<!--            padding-top: 0.75rem;-->
<!--            padding-bottom: 0.75rem;-->
<!--            color: #6c757d;-->
<!--            text-align: left;-->
<!--            caption-side: top;-->
<!--        }-->
<!--    </style>-->
<!--    <title></title>-->
<!--</head>-->
<!--<body>-->
<!--<nav class="navbar navbar-dark bg-dark">-->
<!--    <a class="navbar-brand" href="#"><span th:text="${#authentication.principal.toStringPrincipal()}"></span>-->
<!--    </a>-->
<!--        <ul class="nav navbar-nav navbar-right">-->
<!--            <li><a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a></li>-->
<!--            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">-->
<!--                <input hidden type="submit" value="Sign Out"/>-->
<!--            </form>-->
<!--        </ul>-->
<!--</nav>-->
<!--<div class="pb-3">-->
<!--</div>-->
<!--    <div class="container-fluid">-->
<!--        <div class="row">-->
<!--            <div class="col-md-2">-->
<!--                <nav class="nav flex-column">-->
<!--                    <button class="btn btn-primary" href="#">Admin</button>-->
<!--                    <a class="nav-link" th:href="@{/user}">User</a>-->
<!--                </nav>-->
<!--            </div>-->
<!--            <div class="col-md-10">-->
<!--                <h3>Admin panel</h3>-->
<!--                <ul class="nav nav-tabs">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link active" data-toggle="tab" href="#description">User table</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link"  th:href="@{/admin/addUser}" method="get">New user</a>-->
<!--                    </li>-->
<!--                </ul>-->

<!--                <table id="example" class="table table-striped">-->
<!--                    <caption>-->
<!--                        <div class="list-group">-->
<!--                            <a href="/admin" class="list-group-item list-group-item-action list-group-item-light"><b style="color: black">All users</b></a>-->
<!--                        </div>-->
<!--                    </caption>-->
<!--                    <thead>-->
<!--                        <tr>-->
<!--                            <th scope="col">id</th>-->
<!--                            <th scope="col">First name</th>-->
<!--                            <th scope="col">Last name</th>-->
<!--                            <th scope="col">Age</th>-->
<!--                            <th scope="col">Email</th>-->
<!--                            <th scope="col">Role</th>-->
<!--                            <th scope="col">Edit</th>-->
<!--                            <th scope="col">Delete</th>-->
<!--                        </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <div class="modal fade" id="myModal" role="dialog" >-->
<!--                        <div class="modal-dialog">-->
<!--                            <div class="modal-content">-->
<!--                                <div class="modal-header">-->
<!--                                    <p>Edit user</p>-->
<!--                                    <button type="button" class="close" data-dismiss="modal">x</button>-->
<!--                                </div>-->
<!--                                <div class="modal-body">-->
<!--                                    <div class="row justify-content-center align-items-center">-->
<!--                                        <form class="text-center" action="#"  method="post">-->
<!--                                            <label for="id">Id</label>-->
<!--                                            <input class="form-control card-form" type="text" name="id"   id="id" readonly>-->
<!--                                            <label for="name">First name</label>-->
<!--                                            <input class="form-control alert-warning" type="text" name="name" id="name">-->
<!--                                            <label  for="lastName">Last name</label>-->
<!--                                            <input class="form-control alert-warning" type="text" name="lastName"  id="lastName">-->
<!--                                            <label for="age">Age</label>-->
<!--                                            <input class="form-control" type="text" name="age"  id="age">-->
<!--                                            <label for="mail">Email</label>-->
<!--                                            <input class="form-control alert-warning" type="text" name="mail"   id="mail">-->
<!--                                            <label for="pass">Password</label>-->
<!--                                            <input class="form-control" type="text" name="pass" id="pass">-->
<!--                                            <div class="pb-2">-->
<!--                                            </div>-->
<!--                                            <div class="form-group">-->
<!--                                                <select name="a" multiple size="2" class="form-control" >-->
<!--                                                    <option value="ROLE_ADMIN">Admin</option>-->
<!--                                                    <option value="ROLE_USER">User</option>-->
<!--                                                </select>-->
<!--                                            </div>-->
<!--                                            <div class="text-right">-->
<!--                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                                                <button type="submit" class="btn btn-primary">Edit</button>-->
<!--                                            </div>-->
<!--                                        </form>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->




<!--&lt;!&ndash;                    <div class="modal fade" id="myModal" role="dialog">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="modal-dialog">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="modal-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="modal-header">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <p>Edit user</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <button type="button" class="close" data-dismiss="modal">x</button>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="modal-body">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="row justify-content-center align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <form id="formEdit" class="text-center" action="#"  >&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <label for="id">Id</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <input class="form-control card-form" type="text" name="id"  id="id" readonly>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <label for="name">First name</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <input class="form-control alert-warning" type="text" name="name"   id="name">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <label  for="lastName">Last name</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <input class="form-control alert-warning" type="text" name="lastName"   id="lastName">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <label for="age">Age</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <input class="form-control" type="text" name="age"   id="age">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <label for="mail">Email</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <input class="form-control alert-warning" type="text" name="mail"   id="mail">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <label for="pass">Password</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <input class="form-control" type="text" name="pass" id="pass">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <div class="pb-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <select name="a" multiple size="2" class="form-control" >&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <option value="ROLE_ADMIN">Admin</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <option value="ROLE_USER">User</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </select>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <div class="text-right">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <button type="submit" class="btn btn-primary">Edit</button>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </form>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                                <div class="modal fade" id="myModal2" role="dialog">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="modal-dialog">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="modal-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="modal-header">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <p>Delete user</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <button type="button" class="close" data-dismiss="modal">x</button>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="modal-body">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="row justify-content-center align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <form class="text-center" action="#"  th:method="post">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <label for="delid">ID</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <input class="form-control card-form" type="text" name="id"   id="delid" readonly>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <label for="delname">First name</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <input class="form-control alert-warning" type="text" name="name"  id="delname" readonly>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <label for="dellastName">Last name</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <input class="form-control alert-warning" type="text" name="lastName"  id="dellastName" readonly>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <label for="delage">Age</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <input class="form-control" type="text" name="age"   id="delage" readonly>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <label for="delmail">Email</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <input class="form-control alert-warning" type="text" name="mail"  id="delmail" readonly>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <label for="delpass">Password</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <input class="form-control" type="text" name="pass"  id="delpass" readonly>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <div class="pb-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <select  multiple size="2" class="form-control" disabled>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <option value="ROLE_ADMIN">Admin</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <option value="ROLE_USER">User</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </select>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <div class="text-right">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <button type="submit" value="Delete" class="btn btn-danger">Delete</button>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </form>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
<!--</div>-->


<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->

<!--</body>-->
<!--</html>-->